@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
  --primary: #10b981; /* цвет для кнопок и акцентов */
  --secondary: #c0fac9; /* цвет для фона */
  --accent: #3bedf6; /* цвет для акцентов */
  --gray-light: #f8f9fa; /* цвет для фона */
  --gray: #64748b; /* цвет для текста */
  --gray-dark: #334155; /* цвет для текста */
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #1a1a1a;
    --primary: #10b981; /* цвет для кнопок и акцентов */
    --secondary: #c0fac9; /* цвет для фона */
    --accent: #3b82f6; /* цвет для акцентов */
    --gray-light: #f8f9fa; /* цвет для фона */
    --gray: #64748b; /* цвет для текста */
    --gray-dark: #334155; /* цвет для текста */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .container-custom {
    @apply max-w-[82rem] mx-auto px-4 sm:px-6 lg:px-8;
  }

  .btn-primary {
    @apply bg-[var(--primary)] text-white hover:bg-transparent hover:text-[var(--primary)] font-medium py-2 px-4 rounded-xl transition-all duration-300;
  }

  .btn-secondary {
    @apply bg-transparent border-2 border-[var(--primary)] text-[var(--primary)] hover:bg-[var(--primary)] hover:text-white font-medium py-2.5 px-6 rounded-md transition-all duration-300 shadow-sm hover:shadow-md;
  }

  .section-title {
    @apply text-3xl md:text-4xl font-bold mb-6 text-center relative;
  }

  .section-subtitle {
    @apply text-xl text-[var(--gray-dark)] mb-8 text-center max-w-3xl mx-auto;
  }

  .card {
    @apply bg-white rounded-xl shadow-lg p-6 transition-all duration-300 hover:shadow-xl border border-[#e5e7eb];
  }
}
